/*Media querys*/

@media only screen and (max-width: 992px) {
body {
	font-size: 18px;
}

#quienesSomosImg figcaption {
	display: inline-block;
	width: 12rem;
 
}

h1 {
	font-size: 2rem;
}

#botonParticular h2 {
	font-size: 1.6rem;
}

#botonEmpresa h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.3rem;
}

.titulo__noticia {
	padding-left:1.5rem;
	padding-right: 1.5rem;
}
.parrafo__noticia {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	line-heigh: 3rem;
}
}

