/* Tipografias Tamaños */
$tamaño-titulo-header: 2.5rem;
$tamaño-subtitulo-header: 2rem;
$tamaño-titulos: 2rem;
$tamaño-subtitulos: 1.5rem;
$tamaño-parrafos: 1.25rem;
$botones-text-align: center;

.textoBlanco {
	color: white;
}

.textoAzul {
	color: $color-azul-oscuro;
}